<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板渲染</title>

    <!--<link rel="stylesheet" href="/releaseTool/build/styles.css">-->
</head>
<body>
<div id="app">
    模板渲染views:<br>
    服务端扔了个{{views}}过来
    <button class="testApi">点我点我i</button>
    <br>
    <a href="/webpage/redirect">跳转</a>


</div>

<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script>
    $(function () {
        $(".testApi").click(function (e) {
            $.post('/api/test',null, function (data) {
                alert(data.msg);
            })
        });
    });
</script>

</body>
</html>